<div class="p-4 pb-0 sm:ml-64 pt-16">
  <div class="pt-4   rounded-lg dark:border-gray-700">
    <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
      <div class="w-full  border  rounded-lg shadow-sm 2xl:col-span-2 border-gray-700 sm:p-6 bg-gray-800">
        <app-chart></app-chart>

      </div>
      <app-latest-products></app-latest-products>
    </div>
    <div class="grid grid-cols-2 gap-4 my-4">

      <app-new-products-chart></app-new-products-chart>
      <app-users-chart></app-users-chart>


    </div>

    <div class="flex items-center justify-center mb-1 rounded  bg-gray-800 w-full">
      <app-latest-transactions class="w-full"></app-latest-transactions>
    </div>

  </div>
</div>